* {
  padding: 0%;
  margin: 0%;
}
body {
  overflow-x: hidden;
  background-color: white;
}

p {
  display: flex;
  position: absolute;
  max-width: 30%;
  right: 41%;
  top: 7%;
  color: violet;
  font-size: 120px;
  font-family: "Grape Nuts", sans-serif;
}

.logo1 {
  display: flex;
  position: absolute;
  max-width: 30%;
  max-height: 55%;
  left: 0%;
  top: 0%;
}

.logo2 {
  display: flex;
  position: absolute;
  max-width: 20%;
  max-height: 35%;
  right: 0%;
  top: 0%;
}

.tennis1 {
  display: flex;
  position: absolute;
  max-width: 35%;
  max-height: 50%;
  left: 10%;
  top: 50%;
}

.book {
  display: flex;
  position: absolute;
  top: 100%;
  left: 20%;
  font-size: 30px;
  color: red;
}

.tennis2 {
  display: flex;
  position: absolute;
  max-width: 35%;
  max-height: 50%;
  top: 50%;
  left: 53%;
}

.training {
  display: flex;
  position: absolute;
  top: 100%;
  left: 60%;
  font-size: 30px;
  color: red;
}

.tennis3 {
  display: flex;
  position: absolute;
  max-width: 35%;
  max-height: 50%;
  top: 120%;
  left: 10%;
}

.match {
  display: flex;
  position: absolute;
  top: 170%;
  left: 20%;
  font-size: 30px;
  color: red;
}

.tennis4 {
  display: flex;
  position: absolute;
  max-height: 50%;
  top: 120%;
  left: 53%;
}

.tennis1:hover,
.tennis2:hover,
.tennis3:hover,
.tennis4:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition-duration: 1s;
}

.shop {
  display: flex;
  position: absolute;
  top: 170%;
  left: 60%;
  font-size: 30px;
  color: red;
}

.book:hover,
.training:hover,
.match:hover,
.shop:hover {
  color: blue;
}

.twitter {
  display: flex;
  position: absolute;
  top: 200%;
  right: 10%;
  max-width: 10%;
  max-height: 10%;
}

.ins {
  display: flex;
  position: absolute;
  top: 200%;
  right: 20%;
  max-width: 10%;
  max-height: 10%;
}

.facebook {
  display: flex;
  position: absolute;
  top: 200%;
  right: 2%;
  max-width: 10%;
  max-height: 10%;
}

.background {
  display: flex;
  position: absolute;
  width: 100%;
  max-height: 60%;
}

.back {
  display: flex;
  position: absolute;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  top: 0;
  left: 0;
  background-color: yellow;
}

.back:hover {
  color: yellow;
  background-color: blue;
}

h1 {
  display: flex;
  position: absolute;
  font-size: 30px;
  top: 60%;
  left: 1%;
  color: brown;
}
