* {
  padding: 0%;
  margin: 0%;
}
body {
  overflow-x: hidden;
}

p {
  display: flex;
  position: absolute;
  max-width: 30%;
  right: 43%;
  top: 7%;
  color: greenyellow;
  background-color: blue;
  font-size: 60px;
}

.logo1 {
  display: flex;
  position: absolute;
  max-width: 30%;
  max-height: 55%;
  left: 0%;
  top: 0%;
}

.logo2 {
  display: flex;
  position: absolute;
  max-width: 20%;
  max-height: 40%;
  right: 0%;
  top: 0%;
}
