* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
#intro {
  display: flex;
  flex-direction: row;
}
h1 {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  color: violet;
  font-size: 120px;
  font-family: "Grape Nuts", sans-serif;
}

.logo1 {
  max-width: 30vw;
  max-height: 55vh;
}

.logo2 {
  max-width: 18%;
  margin-left: 2%;
}

.topnav {
  overflow: hidden;
  position: absolute;
  right: 1px;
  margin-top: 0px;
}

.topnav a {
  float: right;
  display: flex;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav input[type="text"] {
  padding: 12px;
  margin-right: 0;
  font-size: 17px;
  outline: none;
}

.search-container {
  float: right;
  padding-right: 0;
}

.search-container a {
  padding: 13px;
  background: red;
  font-size: 17px;
}

.search-container a:hover {
  background: black;
}

.tennis {
  display: flex;
  position: absolute;
  transition: 0.5s;
}

.tennis1 {
  max-height: 50%;
  margin-top: 6%;
  margin-left: 10%;
}

.book {
  margin-top: 30%;
  margin-left: 21%;
}

.tennis2 {
  max-height: 50%;
  margin-top: 4.5%;
  margin-left: 52%;
}

.training {
  margin-top: 28%;
  margin-left: 60%;
}

.tennis3 {
  max-height: 50%;
  margin-left: 10%;
  margin-top: 37%;
}

.match {
  margin-top: 61%;
  margin-left: 21%;
}

.tennis4 {
  margin-top: 37%;
  margin-left: 54%;
  max-height: 50%;
}

.shop {
  margin-top: 61%;
  margin-left: 60%;
}

.event {
  display: flex;
  position: absolute;
  font-size: 30px;
  color: black;
}

.event:hover {
  color: red;
}
.boka {
  cursor: pointer;
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.tennis:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.advertiseimage {
  position: absolute;
  top: 202%;
  left: 7%;
  width: 40%;
  height: 100%;
}

.advertise p {
  position: absolute;
  top: 190%;
  left: 12%;
  max-width: 50%;
  color: violet;
  font-size: 60px;
  font-family: "Grape Nuts", sans-serif;
}

a {
  text-decoration: none;
}

.icons {
  float: right;
  padding-top: 5%;
}

.icons a {
  font-size: 30px;
  padding: 10px 19px;
  color: black;
}

.icons a:hover {
  color: red;
}

iframe {
  position: absolute;
  top: 190%;
  left: 60%;
  max-width: 30%;
}

h2 {
  width: 100%;
  font-size: 20px;
  margin-top: 107%;
  padding-left: 70%;
}

.informations {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}
.informations p {
  width: 12%;
  padding: 1%;
}
.background {
  display: flex;
  position: absolute;
  width: 100%;
  max-height: 60%;
}

.back {
  position: relative;
  padding: 0px 0px;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: red;
  color: black;
}

.back:hover {
  color: red;
  background-color: black;
}

.bokainfo {
  display: block;
  margin-top: 25%;
}

.bokainfo p {
  position: relative;
  font-size: 30px;
  padding-top: 1%;
  padding-left: 2%;
  color: brown;
}

table {
  position: absolute;
  display: inline-block;
  margin-top: 6%;
  margin-left: 10%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 10px 10px;
}

td a {
  color: black;
}

td a:hover {
  color: red;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.logininfo {
  position: relative;
  padding-top: 30%;
  padding-left: 10%;
}

.logininfo h4 {
  font-size: 30px;
  padding-left: 1%;
}

.logininfo p {
  width: 90%;
  padding: 1%;
}

.logininfo a {
  padding-left: 1%;
}

.logininfo a:hover {
  color: red;
}

.loginbox {
  position: absolute;
  width: 320px;
  height: 420px;
  background: black;
  color: white;
  margin-top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.loginbox h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: red;
  color: white;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: yellow;
  color: black;
}

.loginbox a {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: darkgrey;
}

.login a:hover {
  color: yellow;
}

/*如何仅仅fixa calender.html页面的字体，而不是所有页面的字体都被控制？
已用HTML内置style解决，但并非最佳方案*/
/*
html （这里该如何起名？）{        
  font-size: 62.5%;
}*/

.container {
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26%;
}

.calendar {
  width: 45rem;
  height: 52rem;
  background-color: #222227;
}

.month {
  width: 100%;
  height: 12rem;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  text-align: center;
}

.month i {
  font-size: 2.5rem;
  cursor: pointer; /*这个的作用是当鼠标hover这个地方的时候，光标由箭头变成了手指，表示可以点选*/
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase; /*stor eller små bokstäver*/
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays a {
  color: white;
}

.weekdays a:hover {
  color: red;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  background-color: #262626;
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #167e56;
}
