*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 1vh 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  display: block;
  margin: 1vh 1vw;
}

.logo_nav {
  display: flex;
  width: 20%;
  margin: 1vh 1vw;
}

.nav_club {
  width: 80%;
  margin: 1vh 1vw;
}

.logo_nav img {
  margin: 1vh 1vw;
}

.nav_club h1 {
  margin: 10vh 5vw;
  text-align: center;
  color: black;
  font-size: clamp(3rem, 10vw, 12rem);
  font-family: "Grape Nuts", sans-serif;
}

.menu {
  overflow: hidden;
  background-color: black;
}

.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu a:hover {
  background-color: gainsboro;
  color: black;
}

.menu a.active {
  background-color: red;
  color: white;
}

.menu .icon {
  display: none;
}

.search-container {
  margin: 1vh 0;
  width: 100%;
}

.search-container a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 14px;
  background: red;
}

.search-container input[type="text"] {
  padding: 12px;
  margin-right: -6px;
  font-size: 17px;
  outline: none;
}

.search-container a:hover {
  background: black;
}

figure {
  padding: 1vh 0;
  margin: 1vh 0;
  float: left;
  width: 50%;
  align-content: center;
}

figure img {
  display: flex;
  height: auto;
  max-width: 80%;
  margin-left: 10%;
  border-radius: 40px;
}

figcaption {
  margin-left: 30%;
  font-size: 30px;
}

figcaption a:hover {
  color: red;
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

figure img:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.event {
  padding: 1vh 0;
  margin: 1vh 0;
  float: left;
  width: 50%;
  align-content: center;
}

.advertise {
  background-image: url(/images/reklam.jpg);
  background-repeat: no-repeat;
  max-width: 50vw;
  height: fit-content;
}

.event h1 {
  display: flex;
  max-width: 80%;
  height: auto;
  margin: 10vh 7vw;
  font-size: 60px;
  font-family: "Grape Nuts", sans-serif;
}

iframe {
  display: flex;
  width: 50%;
  height: auto;
  margin: 10vh 0 1vh 12vw; /*Two values apply to the top and bottom, then right and left.
  Three values apply to the top, then right and left, then bottom.
  Four values apply to the top, then right, then bottom, then left.
*/
}

h2 {
  display: flex;
  max-width: 100%;
  height: auto;
  font-size: 30px;
  margin: 0 0 10vh 18vw;
}

.icons {
  display: flex;
  width: 60%;
  height: auto;
  margin: 0 3vw;
}

.icons a {
  font-size: 30px;
  padding: 10px 9px;
  color: black;
}

.icons a:hover {
  color: red;
}

.informations {
  display: flex;
  max-width: 100%;
  height: auto;
  flex-direction: row-reverse;
  margin: 0 1vw 0 1vw;
}

.informations p {
  width: 100%;
  height: auto;
  padding: 1vh 2vw;
}

.background {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
}

.back {
  display: flex;
  position: absolute;
  padding: 0px 0px;
  top: 1%;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: red;
  color: black;
}

.back:hover {
  color: red;
  background-color: black;
}

.logininfo {
  margin: 15vh 2vw 0 8vw;
  width: 40%;
}

.logininfo h4 {
  margin: 5vh 0;
  font-size: 30px;
}

.logininfo p {
  padding: 1vh 0;
}

.loginbox {
  position: relative;
  width: 30%;
  height: auto;
  margin-top: -22vh;
  margin-left: 75vw;
  background: black;
  color: white;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.loginbox h1 {
  margin: 0;
  padding: 0 0 20px;
  padding-bottom: 10%;
  text-align: center;
  font-size: 22px;
  color: white;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: red;
  color: white;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: yellow;
  color: black;
}

.loginbox a {
  display: block;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: darkgrey;
}

.login a:hover {
  color: yellow;
}

.chooseday li {
  margin-top: 5%;
  font-size: 25px;
  margin-left: 8%;
}

.container {
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.calendar {
  width: 45rem;
  height: 52rem;
  background-color: #222227;
}

.month {
  width: 43rem;
  height: 12rem;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  text-align: center;
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  color: white;
  text-transform: uppercase; /*stor eller små bokstäver*/
  margin-bottom: 1rem;
}

.month p {
  font-size: 2rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  width: 100%;
  color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /*The flex-wrap property specifies whether the flexible items should wrap or not.*/
  padding: 0.2rem;
}

.days a {
  color: white;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days div:hover:not(.today) {
  background-color: #262626;
  border: 0.2rem solid red;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: red;
}

.bokainfo ul {
  width: 60%;
  margin: 10vh 10vw 0 10vw;
}

.bokainfo li {
  position: relative;
  font-size: 30px;
  padding-top: 2%;
  color: brown;
}

.bokainfo button {
  position: relative;
  display: flex;
  padding: 10px 15px;
  left: 115%;
  bottom: 41px;
  color: red;
  cursor: pointer;
  font-size: large;
}

.bookingTable {
  border-width: 2px;
  border-style: solid;
  border-color: blue;
  margin: 5vh 2vw;
  border-collapse: collapse;
  cursor: pointer;
  width: 96%;
  align-content: center;
}

th,
td {
  height: 7vh;
  border: 1px solid black;
  text-align: center;
}

.header {
  background-color: white;
}
.adminbooked {
  background-color: yellowgreen;
}

.bookable {
  background-color: rgb(202, 206, 248);
}

.cancelled {
  background-color: yellow;
}

.otherbooked {
  background-color: red;
}

.ownbooked {
  background-color: rgb(109, 109, 240);
}

.selected {
  background-color: gainsboro;
}

@media screen and (max-width: 800px) {
  .menu a:not(:first-child) {
    display: none;
  }
  .menu a.icon {
    float: right;
    display: block;
  }
  .menu.responsive {
    position: relative;
  }
  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .logo_nav img {
    display: none;
  }
  .nav_club h1 {
    font-size: 90px;
    align-items: center;
    margin: 5vh 3vw;
  }
  figure {
    padding: 1vh 1vw;
    margin: 1vh 0;
    float: left;
    width: 100%;
  }
  .event {
    width: 100%;
  }
  .event h1 {
    margin: 5vh 20vw;
  }
  iframe {
    margin: 0 25vw;
  }
  h2 {
    margin: 0 0 15vh 40vw;
  }
  .icons {
    margin-left: 19vw;
  }
  .informations {
    margin-left: auto;
    width: 80%;
  }
  .informations {
    padding: 0 1vw;
  }
  .logininfo {
    width: 80%;
  }
  .loginbox {
    margin: 45vh 0 0 50vw;
    width: 50%;
  }
}

@media (max-width: 800px) {
  .bokainfo button {
    left: 100%;
    bottom: 41px;
    color: red;
    cursor: pointer;
    font-size: large;
  }
  .bookingTable thead {
    display: none;
  }

  .bookingTable,
  .bookingTable tbody,
  .bookingTable tr,
  .bookingTable td {
    display: block;
  }
  .bookingTable td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .bookingTable td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
