*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 1vh 0;
}

header {
  display: block;
  margin: 1vh 1vw;
}

#logo_nav {
  display: flex;
  width: 20%;
  margin: 1vh 1vw;
}

#nav_club {
  width: 80%;
  margin: 1vh 1vw;
}

#logo {
  margin: 1vh 1vw;
}

#club {
  margin: 1vh 1vw;
  text-align: center;
  color: black;
  font-size: clamp(3rem, 10vw, 12rem);
  font-family: "Grape Nuts", sans-serif;
}

.menu {
  overflow: hidden;
  background-color: #333;
}

.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
}

.menu a.active {
  background-color: #04aa6d;
  color: white;
}

.menu .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu a:not(:first-child) {
    display: none;
  }
  .menu a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .menu.responsive {
    position: relative;
  }
  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.search-container {
  margin: 1vh 0;
  width: 100%;
}

.search-container a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 14px;
  background: red;
}

.search-container input[type="text"] {
  padding: 12px;
  margin-right: -6px;
  font-size: 17px;
  outline: none;
}

.search-container a:hover {
  background: black;
}

figure {
  padding: 1vh 0;
  margin: 1vh 0;
  float: left;
  width: 50%;
  align-content: center;
}

figure img {
  display: flex;
  height: auto;
  max-width: 80%;
  margin: 2%;
}

@media screen and (max-width: 800px) {
  figure {
    padding: 1vh 1vw;
    margin: 1vh 0;
    float: left;
    width: 100%;
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.tennis:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.advertise {
  position: absolute;
  background-image: url(/images/reklam.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 220%;
  left: 7%;
  width: 40%;
  height: 100%;
}

.advertise p {
  position: absolute;
  bottom: 100%;
  left: 12%;
  max-width: 100%;
  color: black;
  font-size: 60px;
  font-family: "Grape Nuts", sans-serif;
}

a {
  text-decoration: none;
}

.icons {
  float: right;
  margin-top: 120%;
}

.icons a {
  font-size: 30px;
  padding: 10px 19px;
  color: black;
}

.icons a:hover {
  color: red;
}

h2 {
  min-width: 100%;
  font-size: 20px;
  margin-top: 59%;
  margin-left: 160%;
}

.informations {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}
.informations p {
  width: 12%;
  padding: 1%;
}

.background {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  max-height: 60%;
}

.back {
  position: relative;
  padding: 0px 0px;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: red;
  color: black;
}

.back:hover {
  color: red;
  background-color: black;
}

.logininfo {
  position: relative;
  padding-top: 30%;
  padding-left: 15%;
  width: 60%;
}

.logininfo h4 {
  font-size: 30px;
  padding-bottom: 6%;
}

.logininfo p {
  width: 80%;
  padding: 1%;
  padding-top: 3%;
}

.loginbox {
  position: absolute;
  width: 320px;
  height: 420px;
  background: black;
  color: white;
  top: 93%;
  left: 73%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.loginbox h1 {
  margin: 0;
  padding: 0 0 20px;
  padding-bottom: 10%;
  text-align: center;
  font-size: 22px;
  color: white;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: red;
  color: white;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: yellow;
  color: black;
}

.loginbox a {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: darkgrey;
}

.login a:hover {
  color: yellow;
}

/*如何仅仅fixa calender.html页面的字体，而不是所有页面的字体都被控制？
已用HTML内置style解决，但并非最佳方案*/
/*
html （这里该如何起名？）{        
  font-size: 62.5%;
}*/

.chooseday li {
  margin-top: 29%;
  font-size: 25px;
  margin-left: 10%;
}

.container {
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.calendar {
  width: 45rem;
  height: 52rem;
  background-color: #222227;
}

.month {
  width: 100%;
  height: 12rem;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  text-align: center;
}

.month i {
  font-size: 2.5rem;
  cursor: pointer; /*这个的作用是当鼠标hover这个地方的时候，光标由箭头变成了手指，表示可以点选*/
}

.month h1 {
  font-size: 3rem;
  color: white;
  text-transform: uppercase; /*stor eller små bokstäver*/
  margin-bottom: 1rem;
}

.month p {
  font-size: 2rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  width: 100%;
  color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /*The flex-wrap property specifies whether the flexible items should wrap or not. 是否被包起来*/
  padding: 0.2rem;
}

.days a {
  color: white;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days div:hover:not(.today) {
  background-color: #262626;
  border: 0.2rem solid red;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5; /*det betdyer datum i nästa månad, klarhet 清晰度*/
}

.today {
  background-color: red;
}

.bokainfo ul {
  margin-top: 29%;
  margin-left: 10%;
}

.bokainfo li {
  position: relative;
  font-size: 30px;
  padding-top: 2%;
  color: brown;
}

.bokainfo button {
  position: relative;
  display: flex;
  padding: 10px 15px;
  left: 53%;
  bottom: 96px;
  color: red;
  cursor: pointer;
  font-size: large;
}

#bookingTable {
  border-width: 2px;
  border-style: solid;
  border-color: blue;
}

table {
  position: absolute;
  display: inline-block;
  margin-top: 3%;
  margin-left: 10%;
  border-collapse: collapse;
  cursor: pointer;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 10px 10px;
}

td a {
  color: black;
}

td a:hover {
  color: red;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.header {
  background-color: white;
}
.adminbooked {
  background-color: lightgray;
}

.bookable {
  background-color: rgb(202, 206, 248);
}

.cancelled {
  background-color: gainsboro;
}

.otherbooked {
  background-color: red;
}

.ownbooked {
  background-color: blue;
}

.selected {
  background-color: gainsboro;
}

@media screen and (max-width: 1192px) {
  .loginbox {
    width: 30%;
    margin-left: 3%;
    top: 95%;
  }
}

@media screen and (max-width: 942px) {
  .loginbox {
    top: 80%;
    margin-left: 4%;
  }
  .loginbox a {
    display: none;
  }
}
