* {
  padding: 0%;
  margin: 0%;
}
body {
  overflow-x: hidden;
}

p {
  display: flex;
  position: absolute;
  max-width: 30%;
  right: 45%;
  top: 7%;
  color: violet;
  font-size: 120px;
  font-family: "Grape Nuts", sans-serif;
}

.logo1 {
  display: flex;
  position: absolute;
  max-width: 30%;
  max-height: 55%;
  left: 0%;
  top: 0%;
}

.logo2 {
  display: flex;
  position: absolute;
  max-width: 20%;
  max-height: 35%;
  right: 0%;
  top: 0%;
}

.topnav {
  overflow: hidden;
  position: absolute;
  right: 1px;
  top: 30%;
  border: 2px solid black;
}

.topnav a {
  float: right;
  display: flex;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav input[type="text"] {
  padding: 12px;
  margin-right: 0;
  font-size: 17px;
  border: none;
}

.search-container {
  float: right;
  padding-right: 0;
}

.search-container a {
  padding: 12px;
  background: red;
  font-size: 17px;
}

.search-container a:hover {
  background: black;
}

.tennis1 {
  max-height: 50%;
  left: 10%;
  top: 50%;
}

.book {
  display: flex;
  position: absolute;
  top: 100%;
  left: 20%;
  font-size: 30px;
  color: red;
}

.tennis2 {
  max-height: 50%;
  top: 50%;
  left: 53%;
}

.training {
  display: flex;
  position: absolute;
  top: 100%;
  left: 60%;
  font-size: 30px;
  color: red;
}

.tennis3 {
  max-height: 50%;
  top: 120%;
  left: 10%;
}

.match {
  display: flex;
  position: absolute;
  top: 170%;
  left: 20%;
  font-size: 30px;
  color: red;
}

.tennis4 {
  top: 120%;
  left: 53%;
  max-height: 50%;
}
.tennis {
  display: flex;
  position: absolute;
  transition: 0.5s;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.tennis:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.shop {
  display: flex;
  position: absolute;
  top: 170%;
  left: 60%;
  font-size: 30px;
  color: red;
}

.book:hover,
.training:hover,
.match:hover,
.shop:hover {
  color: blue;
}

table,
tr {
  display: flex;
  top: 180%;
  left: 2%;
  padding-top: 5%;
}

tr a {
  color: black;
}

tr a:hover {
  color: red;
}

a {
  text-decoration: none;
}

table {
  display: flex;
  position: absolute;
}

th,
td {
  display: flex;
  position: relative;
  padding-top: 15%;
  padding-left: 30px;
}

.background {
  display: flex;
  position: absolute;
  width: 100%;
  max-height: 60%;
}

.back {
  display: flex;
  position: absolute;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  top: 0;
  left: 0;
  background-color: yellow;
}

.back:hover {
  color: yellow;
  background-color: blue;
}

h1 {
  display: flex;
  position: absolute;
  font-size: 30px;
  top: 60%;
  left: 1%;
  color: brown;
}
